body{
    background-color:#c7c7c4;
}

.container {
    padding-top: 10px ;
    padding-bottom: 10px;
}

.card-header {
    background-color: #ffbf00;
}

.card-footer {
    background-color: #ffbf00;
}

.card-body {
    background-color: #ffffff;
}


.card-header {
    font-size: 300%;
    p { color:  #ffffff ;}. 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-top: 10px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(odd) {
    background-color: #ffffff;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fca2a2;
    color: white;
  }

.gender {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.condition {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

}

.btn {
  width: 100%;
}